{#
  adds input fields of creator  information.
  
  ccreators - The creator fields to add (list of creators).
  errors   - A dict of errors for the fields.
  
  Example:
  	{snippet 'snippets/creator_fields.html', creators=data.creators, errors=errors %}
  	
#}

{% import "macros/form.html" as form %}
{%- block scripts %}
  {% resource 'metadata_resources/scripts/repeatable_element.js' %}
{% endblock -%}

{% set creators = creators or [] %}
<div id="creator_list">
    {%  for creator in creators %}
        {% if errors.creators %}
            {% set email_error = errors.creators[loop.index0].email %}
            {% set name_error = errors.creators[loop.index0].name %}
            {% set org_error = errors.creators[loop.index0].organization %}
            {% set phone_error = errors.creators[loop.index0].phone %}
            {% set address_error = errors.creators[loop.index0].address %}
        {% endif %}
        <div id="creator_{{ loop.index0 }}">
            {% set creator_name = creator['name'] %}
            {% set creator_email = creator['email'] %}
            {% set creator_phone = creator['phone'] %}
            {% set creator_address = creator['address'] %}
            {% set creator_organization = creator['organization'] %}
            {% set creator_name_field =  "creators__%s__name" % loop.index0 %}
            {% set creator_email_field =  "creators__%s__email" % loop.index0 %}
            {% set creator_phone_field =  "creators__%s__phone" % loop.index0 %}
            {% set creator_address_field =  "creators__%s__address" % loop.index0 %}
            {% set creator_organization_field =  "creators__%s__organization" % loop.index0 %}
            {%  set index = loop.index0 %}
            <div id="delete_{{ loop.index0 }}_creator" style="white-space: nowrap">
                <label style="display: inline">Creator</label>
                <a id="btn_{{ loop.index0 }}_delete_creator" class="btn btn-danger" style="display: inline">
                    <i class="icon-remove-circle"></i>
                    Delete
                </a>
            </div>
            <br>
            {{ form.input(creator_name_field, label=_('*Name'), id='field-creators-%d-name' % index, placeholder=_('e.g., Joe Bloggs'), value=creator_name, error=name_error, classes=['control-medium'], attrs={'title': 'Name of the creator of the resource.'}) }}
            {{ form.input(creator_email_field, label=_('Email'), id='field-creators-%d-email' % index, placeholder=_('e.g., jowb@gmail.com'), value=creator_email, error=email_error, classes=['control-medium'], attrs={'title': "Creator's email address."}) }}
            {{ form.input(creator_phone_field, label=_('Phone'), id='field-creators-%d-phone' % index, placeholder=_('e.g., 435-345-7890'), value=creator_phone, error=phone_error, classes=['control-medium'], attrs={'title': "Creator's main phone number"}) }}
            {{ form.input(creator_address_field, label=_('Address'), id='field-creators-%d-address' % index, placeholder=_('e.g., 100 Old Main Hill, Logan, UT 84322-8200'), value=creator_address, error=address_error, classes=['control-medium'], attrs={'title': "Creator's physical address."}) }}
            {{ form.input(creator_organization_field, label=_('Organization'), id='field-creators-%d-organization' % index, placeholder=_('e.g., Utah Water Research Laboratory'), value=creator_organization, error=org_error, classes=['control-medium'], attrs={'title': "Creator's home organization."}) }}

            <input id="field-creators-{{ loop.index0 }}-delete"
				   			type="hidden"
				   			name="creators__{{ loop.index0 }}__delete"
				   			value="{{ creator['delete'] }}" style="display: none">
        <hr>
        </div>
    {% endfor %}

</div>
<div id="addCreator" align="right">
    <a class="btn btn-primary" >
        <i class="icon-plus-sign-alt"></i>
        Add a creator
    </a>
</div>
<br>
