{# See https://github.com/project-open-data/project-open-data.github.io/blob/master/schema.md#expanded-fields #}

{% import "macros/form.html" as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}

{% block data_format_metadata %}

{{ form.input('required_software', label=_('Required Software'), id='field-required_software', placeholder=_(''), value=data.required_software, error=errors.reqsoft, classes=['control-medium'], attrs={'title': 'Is specific software required to view/use this data? If so, what is it?'} )}}

{#
{{ form.input('file_format', label=_('Format'), id='field-file_format', placeholder=_('e.g., CSV, Excel, JPG, Shapefile, etc.'), value=data.file_format, error=errors.format, classes=['control-medium'], attrs={'title': 'What file formats are used for the data'} )}}
 #}

{% endblock data_format_metadata %}

