{% ckan_extends %}
{% block package_metadata_author %}
{% set data = h.load_data_into_dict(data) %}
{{ form.input('author', label=_('Creator'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium'], attrs={'title': 'FirstName LastName'}) }}

{{ form.input('author_email', label=_('Creator Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}

{{ form.input('creator_organization', label=_('Creator Organization'), id='field-creator-organization', placeholder=_('Utah State University'), value=data.custom_meta.creator_organization, error=errors.corg, classes=['control-medium'])}}
{{ form.input('creator_address', label=_('Creator Address'), id='field-creator-address', placeholder=_('795 E DRAGRAM TUCSON AZ 85705'), value=data.custom_meta.creator_address, error=errors.caddress, classes=['control-medium'] )}}
{{ form.input('creator_phone', label=_('Creator Phone'), id='field-creator-phone', placeholder=_('123-456-7890'), value=data.custom_meta.creator_phone, error=errors.cphone, classes=['control-medium'])}}
	
{% endblock %}

{% block package_metadata_fields_version %}
{#
    {{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-medium']) }}
#}
{% endblock %}
  
{% block package_metadata_fields_maintainer %}
{{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium'], attrs={'title': 'FirstName LastName'} )}}
{{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
{% endblock %}



{% block package_metadata_fields_custom %}
{# need to hide this block which shows free form key/value entry for additional metadata as
they don't work when you have custom dataset schema.on that moves any common core fields from 'extras' to the 'custom_meta' key #}
{% endblock package_metadata_fields_custom %}

{% block dataset_fields %}
   {% if data.groups %}
      <div class="control-group">
        <label class="control-label">{{ _('Groups') }}</label>
        <div class="controls">
          {% for group in data.groups %}
            <label class="checkbox" for="field-group-{{ loop.index0 }}">
              <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" checked="checked" />
              {{ group.title }}
            </label>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {# display dataset add to group control only if the user has admin role #}
    {# since pylons context object (c) can't be accessed inside a snippet, I had to use a helper function. #}
    {% set c = h.get_pylons_context_obj() %}
    {% if h.has_user_group_or_org_admin_role(data.owner_org, c.user) %}
        {% set group_name = 'groups__%s__id' % data.groups|length %}
        {% set group_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/group/autocomplete?q=?', 'data-module-key': 'id', 'data-module-label': 'title'} %}
        {{ form.input(group_name, label=_('Add Group'), id="field-group", value=data[group_name], classes=['control-medium'], attrs=group_attrs) }}
    {% endif %}

   {% if not data.resources or data.resources[0].get('dummy_resource', None) %}
        <span class="label label-info">Note:You have not added any resources for this dataset.</span>
   {% endif %}
{% endblock %}
