{% ckan_extends %}

{% block package_basic_fields_title %}
    {# display the following notice only when creating a dataset but not when editing a dataset #}
    {%  if not data.id %}
        <span class="info-block info-block-large" xmlns="http://www.w3.org/1999/html">
            <i class="icon-info-sign"></i>
            {{ _('NOTE:Your dataset will be private until approved by a system administrator. However, you can see your newly submitted datasets in your Dashboard.') }}
        </span>
    {% endif %}
    <span title="A name to identify the dataset.">
    {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('e.g., Red Butte Creek GAMUT Water Temperature Data.'), value=data.title, error=errors.title, classes=['control-full control-large'], attrs={'data-module': 'slug-preview-target', 'title': 'A name to identify the dataset.'}) }}
    </span>
{% endblock %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

    {% set name_error = [] %}
    {%  if errors.name %}
        {%  do name_error.append(errors.name[0] + ' Please modify your dataset title or URL.') %}
    {% endif %}

{{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=name_error, attrs=attrs) }}
{% endblock %}

{% block package_basic_fields_description %}
     <span title='A short description (or abstract) for the dataset.'>
        {{ form.markdown('notes', id='field-notes', label=_('* Description'), placeholder=_('e.g., This dataset contains water temperature observations collected in Red Butte Creek Above Red Butte Reservoir as part of the iUTAH GAMUT Network. Data are limited to 2013. Data were collected using a YSI EXO sonde. The data values represent 15 minute instantaneous measurements. Quality control was performed by the Red Butte watershed technician using ODM Tools.'), value=data.notes, error=errors.notes, attrs={'title' : 'A short description (or abstract) for the dataset.'}) }}
    </span>
{% endblock package_basic_fields_description%}

{% block package_basic_fields_tags %}
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?', 'title':'Keyword(s) that describe the dataset.'} %}

    {%  if errors.tag_string %}
        {% set tag_data = '' %}
    {% else %}
        {% set tag_data = data.tag_string %}
    {% endif %}
    <span title="Keyword(s) that describe the dataset.">
        {{ form.input('tag_string', id='field-tags', label=_('* Keywords'), placeholder=_('e.g., water quality, temperature, Red Butte Creek, time series'), value=tag_data, error=errors.tag_string, classes=['control-full'], attrs=tag_attrs) }}
    </span>
{% endblock package_basic_fields_tags %}


{% block package_basic_fields_license %}
{% endblock %}

{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}
  {% set show_organizations_selector = True  %}

  {% if show_organizations_selector and show_visibility_selector %}
    <div data-module="dataset-visibility">
  {% endif %}

  {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="control-group">
      <span title="Select an organization.">
        <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
      </span>
      <div class="controls">
        <span title="Select an organization.">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          {#<option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>#}
          {% for organization in organizations_available %}
            {# get out first org from users list only if there is not an existing org #}
            {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.name }}</option>
          {% endfor %}
        </select>
        </span>
      </div>
    </div>
  {% endif %}

  {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
      <div class="control-group">
        <span title="Limit access to the dataset.">
            <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        </span>
        <div class="controls">
          <span title="Limit access to the dataset.">
          <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
          </span>
        </div>
      </div>
    {% endblock %}
  {% endif %}

  {% if show_organizations_selector and show_visibility_selector %}
    </div>
  {% endif %}

  {% set data = h.load_data_into_dict(data) %}
  {% set active = data.state == 'active' %}

  {% snippet 'package/snippets/general_fields.html', data=data, errors=errors%}

  <h2>Spatial Metadata</h2>
  {% snippet 'package/snippets/location_fields.html', data=data, errors=errors%}

  <h2>Temporal Metadata</h2>
  {% snippet 'package/snippets/temporal_fields.html', data=data, errors=errors%}

  <h2>Variable & Method Information</h2>
  <span title="Describe variable.">
        {{ form.input('variable_description', id='field-variable_description', label=_('* Variable description'), placeholder=_('e.g., Various in situ water quality variables'), value=data.custom_meta.variable_description, error=errors.variable_description, classes=['control-full'], attrs={'title': 'Describe variable.'}) }}
  </span>
  {% snippet 'package/snippets/variable_fields.html', data=data, errors=errors%}

{% endblock %}


