{% ckan_extends %}

{% block stages %}
    {{ super() }}
    <span class="info-block info-block-small" style="margin-left: 100px" >
          <i class="icon-info-sign" ></i>
          {{ _('Metatdata may be submitted without any resources. File upload size is limited to 2 GB.' ) }}
        </span>
  {% endblock %}

{% block basic_fields_name %}
        {{ form.input('name', id='field-name', label=_('*Name'), placeholder=_('eg. January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full']) }}
        <span class="info-block info-block-small" style="margin-left: 100px" >
          <i class="icon-info-sign" ></i>
          {{ _('Name for the resource is required if a resource has been provided.') }}
        </span>
        <br>
{% endblock %}


