{# See https://github.com/project-open-data/project-open-data.github.io/blob/master/schema.md#expanded-fields #}

{% import "macros/form.html" as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}

{% block package_submitter_metadata %}
{{ form.input('contact_name', id='field-contact_name', label=_('Contact Name'), placeholder=_('John Smith'), value=data.common_core.contact_name, error=errors.contname, classes=['control-full', 'control-medium'], attrs={'title': 'Contact person\'s name for the asset.'}, is_required=true) }}

{{ form.input('creator_organization', label=_('Submitter Organization'), id='field-creator_organization', placeholder=_('USU'), value=data.creator_organization, error=errors.creat_org, classes=['control-medium'], attrs={'title': 'the organization of the submitter'}, is_required=true )}}                

{{ form.input('contact_email', id='field-contact_email', label=_('Submitter Email'), placeholder=_('john.smith@fbi.gov'), value=data.common_core.contact_email, error=errors.contemail, classes=['control-full', 'control-medium'], attrs={'title': "Submitter\'s email address. "}, is_required=true) }}

{{ form.input('creator_address', label=_('Submitter Address'), id='field-creator_address', placeholder=_('8200 old main hill logan ut'), value=data.creator_address, error=errors.creat_add, classes=['control-medium'], attrs={'title': 'the address of the submitter'} )}}                

{{ form.input('creator_phone', label=_('Submitter Phone'), id='field-creator_phones', placeholder=_('123-456-7890'), value=data.creator_phone, error=errors.creat_phone, classes=['control-medium'], attrs={'title': 'the phone of the creator'}, )}}                




{% endblock package_submitter_metadata %}

