{# See https://github.com/project-open-data/project-open-data.github.io/blob/master/schema.md#expanded-fields #}
{#
  adds input fields of variable  information.

  variables - The variable fields to add (list of of variables).
  errors   - A dict of errors for the fields.

  Example:
  	{snippet 'snippets/variable_fields.html', variables=variables, errors=errors %}

#}

{% import "macros/form.html" as form %}

{%- block scripts %}
  {% resource 'metadata_resources/scripts/repeatable_element.js' %}
{% endblock -%}

{% set data = data or {} %}
{% set variables = data.custom_meta.variables %}
{# TODO: data entry error needs to be used in showing the data fields in error status #}
{% set errors = errors or {} %}

{% block package_variable_metadata %}
<div id="variable_list">
  {% if not variables %}
    {% set variables = [{'name':'', 'unit':'', 'delete': '0'}] %}
  {% endif %}
  <label>{{ _('Observed Variables') }}</label>
  {% for variable in variables %}
      {% if errors.variables %}
          {% set name_error = errors.variables[loop.index0].name %}
          {% set unit_error = errors.variables[loop.index0].unit %}
      {% endif %}
      {% set variable_name_field =  "variables__%s__name" % loop.index0 %}
      {% set variable_unit_field =  "variables__%s__unit" % loop.index0 %}
      {% set variable_delet_field =  "variables__%s__delete" % loop.index0 %}
      {% if name_error %}
        {%  set name_class = "add-on text-error" %}
      {% else %}
        {%  set name_class = "add-on" %}
      {% endif %}
      <div class="input-prepend" id="variable_{{ loop.index0 }}" >
          <label for="{{ 'field-variables-%d-name' % loop.index0 }}" class={{ name_class }}>Name</label>
          <input id="{{ 'field-variables-%d-name' % loop.index0 }}" type="text" name="{{ variable_name_field}}" value="{{ variable.name | empty_and_escape }}" placeholder="e.g., temperature" title="Variables that are measured, recorded, reported, or observed within the dataset. The list may be extensive." />
          <label for="{{ 'field-variables-%d-unit' % loop.index0 }}" class="add-on" >Unit</label>
          <input id="{{ 'field-variables-%d-unit' % loop.index0 }}" type="text" name="{{ variable_unit_field }}" value="{{ variable.unit | empty_and_escape }}" placeholder="e.g., deg C" title="The units of measure associated with a variable."/>
          <button id="btn_{{ loop.index0 }}_delete_variable" class="btn btn-danger" type="button" style="width: 113px;"><i class="icon-remove-circle"></i>Delete</button>
          <input id="field-variables-{{ loop.index0 }}-delete"
                            type="hidden"
				   			name="variables__{{ loop.index0 }}__delete"
				   			value="{{ variable['delete'] }}" style="display: none">
      </div>

  {% endfor %}
</div>
<div id="addVariable" align="right">
    <a class="btn btn-primary" >
        <i class="icon-plus-sign-alt"></i>
        Add a variable
    </a>
</div>

{#optional Metadata#}
<div class="panel panel-default">
	<div class = "panel-heading" style="margin-top: 20px">
		<span class="panel-title">
			<a data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion" href="#vmDiv"> Optional Metadata  </a> 
		</span>
	</div>
	<div id="vmDiv" class="panel-collapse collapse out">
		<div style="margin-top: 20px">
			{{ form.markdown('data_collection_method', label=_('Data Collection Method'), id='field-data_collection_method', placeholder=_('e.g., Water temperature measured using a YSI EXO sonde instantaneously every 15 minutes. Values logged using a Campbell Scientific datalogger and streamed to iUTAH servers.'), value=data.custom_meta.data_collection_method, error=errors.data_collection_method,  attrs={'title': 'The methods used to generate, create, collect, or produce the data.'} )}}
		</div>

		{{ form.markdown('data_processing_method', label=_('Data Processing Method'), id='field-data_processing_method', placeholder=_('e.g., Quality control and post processing conducted using ODM tools to account for anomalous values.'), value=data.custom_meta.data_processing_method, error=errors.data_processing_method,  attrs={'title': 'The methods and programs used and specific steps undertaken to process the data.'} )}}
	</div>
</div>
{% endblock package_variable_metadata %}

