{% extends "header.html" %}

{% block header_wrapper %}
<div id="page-header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center_header">

                {% block header_logo %}
                <div id="title_logo">
                    <a id="home_linker" href="http://data.iutahepscor.org/mdf"><img id="iutah_logo" src="http://data.iutahepscor.org/mdf/static/mdfserver/img/iutah_logo.png" alt="iUtah Logo"/>
                    <h1 id="main_title">Modeling and Data Federation</h1>
                    <h4 id="second_title">innovative Urban Transitions and Aridregion Hydro-sustainability</h4></a>
                </div>
                {% endblock %}

                {% block header_site_navigation %}

				{% block header_account %}
					{{ super() }}
				{% endblock %}
                <div class="container">
                    <ul class="nav">
                        <li class="active"> <a class="dropdown-toggle" data-hover="dropdown" href="http://data.iutahepscor.org/mdf/index/">Home </a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-hover="dropdown" href="http://data.iutahepscor.org/mdf/Development/">Development <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="http://data.iutahepscor.org/mdf/Development/Software%20Development/">Software Development </a></li>
                                <li><a href="http://data.iutahepscor.org/mdf/Development/Hardware%20Development/">Hardware Development </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-hover="dropdown">Data <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="http://data.iutahepscor.org/mdf/Data/Gamut%20Network%20Overview/">Gamut Network Overview </a></li>
                                <li><a href="http://data.iutahepscor.org/mdf/Data/Logan%20River/">Logan River </a></li>
                                <li><a href="http://data.iutahepscor.org/mdf/Data/Provo%20River/">Provo River </a></li>
                                <li><a href="http://data.iutahepscor.org/mdf/Data/Red%20Butte%20Creek/">Red Butte Creek </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-hover="dropdown">About <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="http://data.iutahepscor.org/mdf/About/Documentation/">Documentation </a></li>
                                <li><a href="http://data.iutahepscor.org/mdf/About/Training%20Materials/">Training Materials </a></li>
                                <li><a href="http://data.iutahepscor.org/mdf/About/Personnel/">Personnel </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
