<footer>
    <div id="footer-left-image">
        <a href="http://utepscor.org/" target="_blank"><img src="http://iutahepscor.org/images/logos_hires/epscor_logo_rgb_sm.jpg" alt="Utah EPSCoR" width="156" height="73"></a>
    </div>
	<div id="footer-text">
        <p>This project is funded through <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1208732" target="_blank">EPS - 1208732</a>.  Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
	</div>
    <aside id="footer-right-image">
        <a href="http://www.nsf.gov/div/index.jsp?div=EPSC" target="_blank">
            <img src="http://iutahepscor.org/images/nsf1.png" alt="National Science Foundation" width="80" height="80">
        </a>
    </aside>
</footer>
