{% extends "header.html" %}

{% block header_wrapper %}
{% block header_account %}
	{{ super() }}
{% endblock %}

<header id="main_header">
	<div id="logo">
		{% block header_logo %}
		<img src="http://iutahepscor.org/images/logos_hires/iutah_eu_horz_sm.png" width="194" height:="78">
		<div id="logo_text">
			<h1><a href="#">Modeling and Data Federation</a></h1>
			<h2>innovative Urban Transitions and Aridregion Hydro-sustainability</h2>
		</div>
		{% endblock %}
	</div>
	{% block header_site_navigation %}
	<nav>
		<ul class="nice-menu nice-menu-down" id="nice-menu-1">
			<li><a href="http://data.iutahepscor.org/mdf/">Home</a></li>
			<li><a href="http://data.iutahepscor.org/mdf/development">Development</a>
				<ul>
					<li><a href="http://data.iutahepscor.org/mdf/hardware-development">Hardware Development</a></li>
					<li><a href="http://data.iutahepscor.org/mdf/software-development">Software Development</a></li>
					<li><a href="http://data.iutahepscor.org/mdf/work-scope">Year 1 Scope of Work</a></li>
				</ul>
			</li>
			<li class="menuparent"><a href="http://data.iutahepscor.org/mdf/inventories">Inventories</a>
				<ul>
					<li><a href="http://data.iutahepscor.org/mdf/data-inventory">Data Inventory</a></li>
					<li><a href="http://data.iutahepscor.org/mdf/model-inventory">Model Inventory</a></li>
				</ul>
			</li>
			<li class="menuparent"><a href="http://data.iutahepscor.org/mdf/" title="">Data</a>
				<ul>
					<li><a href="http://data.iutahepscor.org/mdf/gamut-network" class="active">Gamut Network Overview</a></li>
					<li><a href="http://data.iutahepscor.org/mdf/logan-river">Logan River</a></li>
					<li><a href="http://data.iutahepscor.org/mdf/red-butte-creek">Red Butte Creek</a></li>
				</ul>
			</li>
			<li class="menuparent"><a href="http://data.iutahepscor.org/mdf/" title="">About</a>
				<ul>
					<li><a href="http://data.iutahepscor.org/mdf/about/documentation">Documentation</a></li>
					<li><a href="http://data.iutahepscor.org/mdf/about/training-materials">Training Materials</a></li>
					<li><a href="http://data.iutahepscor.org/mdf/about/personnel">Personnel</a></li>
				</ul>
			</li>
		</ul>
    </nav>
	{% endblock %}
</header>
{% endblock %}
