{% ckan_extends %}

{% block header %}
	{% include "mdf_header.html" %}
{% endblock %}

{% block toolbar %}
	<div class="toolbar">
		{% block breadcrumb %}
			{{ super() }}
		{% endblock %}
	
		{% block secondary_navigation %}
			<nav class="second_navigation">
				<ul class="nav nav-pills">
					{{ h.build_nav_main(
				      ('search', _('Datasets')),
				      ('organizations_index', _('Organizations')),
				      ('group_index', _('Groups'))
				    ) }}
				</ul>
			</nav>		
		{%endblock %}
	</div>
{% endblock %}

{% block footer %}
	{% include "mdf_footer.html" %}
{% endblock %}
