{% ckan_extends %}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) and (h.check_if_user_owns_dataset(pkg.id, c.user) or h.has_user_group_or_org_admin_role(pkg.owner_org, c.user)) %}
    {% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block package_info %}
    <div class="module context-info">
      <div class="module-content">
        <h1 class="heading wrapword">{{ pkg.title or pkg.name }}</h1>
        <div class="nums">
          <dl>
            <dt>{{ _('Followers') }}</dt>
            <dd>{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</dd>
          </dl>
        </div>
        <div class="follow_button">
          {{ h.follow_button('dataset', pkg.name) }}
        </div>
      </div>
    </div>
  {% endblock %}


