
{% ckan_extends %}

{% block page_heading %}
      {{ pkg.title or pkg.name }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
    {% if not c.user %}
        <div class="form-group">
            <div class="checkbox">
                  <input type="checkbox" id="chkDataUseAgreement"> <small><strong>Agree to data use agreement for data preview/download.</strong></small>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block package_additional_info %}

{% set pkg_dict = h.load_data_into_dict(pkg) %}
{% set creators = pkg_dict.custom_meta.creators %}
{% set contributors = pkg_dict.custom_meta.contributors %}
{% set variables = pkg_dict.custom_meta.variables %}
{# display common core metadata #}
	
	<div class="citation-block">
		<span class="citation-label">{{ _("Citation:") }}</span>
		<span class="citation-text">{{ pkg_dict.custom_meta.citation }}</span>
	</div>
	<div style="clear:both"></div>
	<div class="panel panel-default">
		<div class="panel-tabs">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#generalTab" data-toggle="tab">
						<i class="icon-edit"></i> 
						General
					</a>
				</li>
				<li>
					<a href="#spatialTab" data-toggle="tab">
						<i class="icon-globe"></i>
						Spatial</a>
				</li>
				<li>
					<a href="#temporalTab" data-toggle="tab">
						<i class="icon-time"></i>
						Temporal</a>
				</li>
				<li>
					<a href="#varmethTab" data-toggle="tab">
						<i class="icon-book"></i>
						Variable & Method</a>
				</li>
				<li>
					<a href="#contactTab" data-toggle="tab">
						<i class="icon-user"></i>
						Contact</a>
				</li>
				<li>
					<a href="#addTab" data-toggle= "tab">
						<i class="icon-table"></i>
						Additional</a>
				</li>
			</ul>
		</div>
		<div class="tabs-body">
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="generalTab">
					<table class="table table-condensed table-no-border-top">
			
						<tbody>
							{% if pkg_dict.custom_meta.purpose %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Purpose") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.purpose }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.collection %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Relation") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.collection }}</td>
							</tr>
							{% endif %}
			
							
							<tr>
								<th scope="row" class=" dataset-label">{{ _("Language") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.language }}</td>
							</tr>
			
							{% if pkg_dict.custom_meta.research_focus %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Research Focus Area") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.research_focus }}</td>
							</tr>
							{% endif %}

                            {% if pkg_dict.custom_meta.access_information %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Access Information") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.access_information }}</td>
							</tr>
                            {% endif %}

							{% if pkg_dict.custom_meta.type %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Type") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.type }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.required_software %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Required Software") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.required_software }}</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			
			
			
				<div class="tab-pane" id="spatialTab">
			
					<table class="table  table-condensed table-no-border-top">
			
						<tbody>
							{% if pkg_dict.custom_meta.spatial %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Spatial Extent") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.spatial }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.study_area %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Study Area") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.study_area }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.north_extent %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("North Extent") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.north_extent }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.south_extent %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("South Extent") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.south_extent }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.east_extent %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("East Extent") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.east_extent }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.west_extent %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("West Extent") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.west_extent }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.feature_types %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Feature Types") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.feature_types}}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.horz_coord_system %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Hoorizontal Coordinate") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.horz_coord_system }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.vert_coord_system %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Vertical Coordiante") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.vert_coord_system }}</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			
			
			
				<div class="tab-pane" id="temporalTab">
			
					<table class="table  table-condensed table-no-border-top">
			
						<tbody>
							{% if pkg_dict.custom_meta.temporal %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Temporal  Extent") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.temporal }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.update_frequency %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Update Frequency") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.update_frequency }}</td>
							</tr>
							{% endif %}
			
							
							<tr>
								<th scope="row" class="dataset-label">{{ _("Status") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.status }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			
			
			
				<div class="tab-pane" id="varmethTab">
					<table class="table  table-condensed table-no-border-top">
						<tbody>
							<tr>
                              <th scope="row" class="dataset-label">{{ _("Observed Variables") }}</th>
                              <td class="dataset-details" ></td>
                            </tr>
                            {% snippet 'package/snippets/variables_read.html', variables=variables, errors=errors %}
			
							{% if pkg_dict.custom_meta.units %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Units") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.units }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.data_collection_method %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Data Collection Method") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.data_collection_method }}</td>
							</tr>
							{% endif %}
			
							{% if pkg_dict.custom_meta.data_processing_method %}
							<tr>
								<th scope="row" class="dataset-label">{{ _("Data Processing Method") }}</th>
								<td class="dataset-details">{{ pkg_dict.custom_meta.data_processing_method }}</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>

				<div class="tab-pane" id="contactTab">
			
					<table class="table  table-condensed table-no-border-top">
			
						<tbody>
							{% if pkg_dict.custom_meta.sub_email and pkg_dict.custom_meta.sub_name  %}
                            <tr>
								<th scope="row" class="dataset-label">{{ _("Submitter") }}</th>
								<td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.custom_meta.sub_email, name=pkg_dict.custom_meta.sub_name) }}</td>
							</tr>
                            {% endif %}
                            <tr>
                              <th scope="row" class="dataset-label">{{ _("Creators") }}</th>
                              <td class="dataset-details" ></td>
                            </tr>
                            {% snippet 'package/snippets/contacts_read.html', contacts=creators, errors=errors %}

                            <tr>
                              <th scope="row" class="dataset-label">{{ _("Contributors") }}</th>
                              <td class="dataset-details" ></td>
                            </tr>
                            {% snippet 'package/snippets/contacts_read.html', contacts=contributors, errors=errors %}

							{% if pkg_dict.maintainer_email %}
							<tr>
								<th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
								<td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
							</tr>
							{% elif pkg_dict.maintainer %}
							<tr>
								<th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
								<td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>

				<div class="tab-pane" id="addTab">
			
					<section class="additional-info">
			
						<table class="table table-condensed table-no-border-top">
							
							<tbody>
								
								{% if pkg_dict.url %}
								<tr>
									<th scope="row" class="dataset-label">{{ _('Source') }}</th>
									<td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
								</tr>
								{% endif %}
			
								{% if pkg_dict.version %}
								<tr>
									<th scope="row" class="dataset-label">{{ _("Version") }}</th>
									<td class="dataset-details">{{ pkg_dict.version }}</td>
								</tr>
								{% endif %}
			
								{% if h.check_access('package_update',{'id':pkg_dict.id}) %}
								<tr>
									<th scope="row" class="dataset-label">{{ _("State") }}</th>
									<td class="dataset-details">{{ pkg_dict.state }}</td>
								</tr>
								{% endif %}
			
								{% block extras scoped %}
								{% for extra in h.sorted_extras(pkg_dict.extras) %}
								{% set key, value = extra %}
								<tr rel="dc:relation" resource="_:extra{{ i }}">
									<th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
									<td class="dataset-details" property="rdf:value">{{ value }}</td>
								</tr>
								{% endfor %}
								{% endblock %}
			
								
							</tbody>
						</table>
					</section>
				</div>
			
			</div>
		</div>
		
	</div>

	<div class="modal fade" id="showDataUseModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="z-index: -1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              {#  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> #}
              <h4 class="modal-title">Data Use Agreement</h4>
            </div>
            <div class="modal-body">
              {% block use_agreement %}
                <p>
                    This document outlines the provisions of a non-exclusive license for use of data shared through the
                    iUTAH Modeling & Data Federation. Consistent with the objectives of iUTAH, the goal of the iUTAH
                    Modeling & Data Federation is to make data originally acquired by iUTAH available to the community for
                    further study. By receipt and use of data from the iUTAH Modeling & Data Federation, you agree to the
                    following provisions for yourself and any collaborators with whom you share these data:
                </p>
                <p>
                <strong><span style="color:blue">1.  Free use of iUTAH Data:</span></strong>  iUTAH Data Products* except those labeled
                    Restricted** are released to the public under a Creative Commons Attribution copyright license
                    <a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">(http://creativecommons.org/licenses/by/3.0/us/)</a>
                    and may be freely copied, distributed, edited,
                    and otherwise modified under the condition that you give acknowledgment as described below.
                    Non-iUTAH data products, such as those produced by state and federal agencies have their own use
                    policies that should be followed.
                </p>
                <p>
                    * iUTAH Data Products are defined as data collected with any monetary or logistical support from iUTAH.
                    <br>
                    <br>
                    ** Restricted data are defined as data that cannot be released publicly due to privacy granted by
                    human subjects legislation or other concerns.  To enquire about potential use of restricted data, please contact us.
                </p>
                <p>
                    <strong><span style="color:blue">2.  Data Guarantee:</span></strong>  These data and metadata are provided by the iUTAH Modeling &
                    Data Federation and the data contributors “as is.” The Data User holds all parties involved in the
                    production or distribution of the data and metadata harmless for any damages resulting from its use
                    or interpretation.
                </p>

                <p>
                 <strong><span style="color:blue">3.  Publication / Acknowledgement of Data Use:</span></strong>  Acknowledgement of iUTAH and the data
                    provider(s) is expected as standard practice in scientific publication or presentation of findings
                    based upon these data. For iUTAH Data Products, the Data User should acknowledge the institutional
                    support and funding award for the iUTAH project in any publication where the data contributed
                    significantly to its content.  For example:
                    <br>
                    <br>
                    <i>“Data were provided by the iUTAH project and were accessed through the iUTAH Modeling & Data
                    Federation.  Significant funding for collection of these data was provided by the National
                    Science Foundation (NSF EPS - 1208732).” </i>
                    <br>
                    <br>
                    Whenever practical, the individual data providers should be acknowledged, including
                    citing datasets as follows (see <a href="http://www.datacite.org/whycitedata" target="_blank">http://www.datacite.org/whycitedata </a>):
                    <br>
                    <br>
                    <i>Creator(s), year of publication, title of dataset, name of publisher (iUTAH Modeling & Data
                    Federation), edition or version, and URL or other identifier.</i>
                    <br>
                    <br>
                    When impractical to do so because of the number of datasets used, use of data from the iUTAH
                    Modeling & Data Federation should be acknowledged.
                    <br>
                    <br>
                    Data Users agree to provide to iUTAH a bibliographic citation of the final published presentation
                    or article for inclusion in the iUTAH literature archive. I will submit this information
                    via the iUTAH website at <a href="http://iutahepscor.org/contact_us_form.php" target="_blank">http://iutahepscor.org/contact_us_form.php </a>.
                </p>
                <p>
                    <strong><span style="color:blue">4.  Redistribution of Data:</span> </strong> Redistribution of original data is permitted so
                    long as the data are redistributed under the same terms and conditions as described in this Data
                    Use Agreement.  Data derived from original data may be distributed under terms and conditions
                    established by the creators of such derived data. Users must comply with the terms and conditions
                    of use set by the creators of these derived data.
                </p>
                <p>
                <strong><span style="color:blue">5.  Collaboration:</span></strong>  iUTAH researchers have released data in the spirit of open
                    scientific collaboration.  Data Users are strongly encouraged to consider consultation,
                    collaboration, and/or co-authorship with dataset creators.
                <br>
                <br>
                    By accepting this Data Set, the Data User agrees to abide by the terms of this agreement. The Data
                    Owner shall have the right to terminate this agreement immediately by written notice upon the Data
                    User's breach of, or non-compliance with, any of its terms. The Data User may be held responsible
                    for any misuse that is caused or encouraged by the Data User's failure to abide by the terms of
                    this agreement.
                </p>
              {% endblock %}
            </div>

            <div class="modal-footer" >
              <button type="button" id="btnDataUseAgree" class="btn btn-success" data-dismiss="modal">Agree</button>
              <button type="button" id="btnDataUseDecline" class="btn btn-default" data-dismiss="modal">Decline</button>
            </div>

          </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}







